<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="REST Assured API Automation Framework">
    <listeners>
        <listener class-name="utilities.ExtentListenerClass"/>
    </listeners>
    <test name="API Test Suite ">
     <classes>
            <class name="TestCases.GetUsersTest"/>
<!--            <class name="TestCases.PostUsersTest"/>-->
<!--            <class name="TestCases.DeleteUsersTest"/>-->
<!--            <class name="TestCases.PutUsersTest"/>-->
<!--            <class name="TestCases.PatchUsersTest"/>-->
     </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->